// ---------------------------- //
// ICONS                        //
// ---------------------------- //

.icon {
  line-height: 0;

  & svg path {
    fill: $grey-400;
  }
}

.icon--plus {
  & g {
    fill: #fff;
  }
}